<div class="page-add-task">
  <div class="form">
    <div class="container-first-title">
      <div class="add">+</div>
      <label class="first-title">Nueva Tarea</label>
    </div>
    <label >Título</label>
    <div class="container-add">
    <div class="input-container">
      <input type="text" class="input-field" placeholder="Ingrese titulo..." />
    </div>
    <label>
      <div class="container-checkbox">
        <div class="checkmark">Tarea completada</div>
        <div class="checkbox">
          <input  type="checkbox">
        </div>
      </div>
    </label>
    <button class="container-button-guardar">
      <div class="signo-mas">+</div>
      <div>
        <div class="button">Guardar Tarea</div>
      </div>
    </button>
  </div>
  </div>
</div>
